body {
  background: #EBE9E7;
  left: 0;
  top: 0;
  overflow-x: hidden;
  padding: 32px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
}

.left h2 {
  color: #55B5EE;
  margin-bottom: 16px;
}

.weekday {
  margin: 20px 0 0 0;
  text-transform: uppercase;
}

.date {
  margin: 0 0 20px 0;
}

.timesheet {
  width: 100%;
  height: 100%;
  background: #44536A;
  color: white;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  cursor: pointer;
}

.circle, .circle1, .circle2 {
  margin: 8px;
  border-radius: 999rem;
  width: 30px;
  height: 30px;
  border: 2px solid transparent;
}

.circle {
    background: #69D2D1;
}


.circle1 {
    background: #55B5EE;
}


.circle2 {
    background: #FD822C;
}

.clicked {
  border: 2px solid #F80E0E;
}

th {
  width: 160px;
  height: 60px;
}

th:nth-child(odd) {
  background: #F5F6F7;
}

th:nth-child(even) {
  background: white;
}
